body {
    background-color:  whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    background-color: #222A2B;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-family: 'Jetbrains Mono', monospace;
    font-size: 18px;
    display: inline-block;;
    transition: color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    color: #BD000C;
    transform: scale(1.1); /* Gjør lenken 10% større */
}

main {
    flex-grow: 1;
}

footer {
    background-color: #222A2B;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    color: white;
    margin: 0 10px 10px 10px;
}

footer p {
    font-family: 'Jetbrains Mono', monospace;
}

.tittel {
    text-align: center;
    font-family: 'Jetbrains Mono', monospace;
    color: #3B4F54;
    font-size: 2.5em; /* Gjør teksten større */
    letter-spacing: 2px; /* Gir litt luft mellom bokstavene */
    text-shadow: 1px 1px 0 #BD000C; /* 3D-effekt med to skygger */
}

.informasjons-boks {
    font-family: 'Jetbrains Mono', monospace;
    margin: 10px;
    text-align: center;
}

.informasjons-boks a {
    color: #BD000C;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
    font-style: italic;
    display: inline-block; /* Nødvendig for at transform skal fungere korrekt */
}

.informasjons-boks a:hover {
    color: #3B4F54;
    transform: scale(1.1); /* Gjør lenken 10% større */
}

.bildealt {
    width: 70%;
    height: auto;
    display: block; /* Ensures it behaves like a block element for margin: auto */
    margin: 20px auto; /* Centers the image horizontally and adds some vertical spacing */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}