{% extends 'base.html' %}

{% block title %}Kantina{% endblock %}

{% block content %}
<h1 class="tittel">Velkommen til Kantina</h1>

<p class="informasjons-boks">
    Her i kantina finner du et fast utvalg av påsmurt, drikke og snacks som alltid er tilgjengelig.
    I tillegg serverer vi en ny og spennende varmrett hver dag. Ta en titt på <a href="{{ url_for('meny') }}">ukens meny</a> for å se hva som frister!
</p>

<img src="{{ url_for('static', filename='img/kantine.webp') }}" class="bildealt" alt="Bilde av kantine">
{% endblock %}
