{% extends 'base.html' %}

{% block title %}Kantine Kontakter{% endblock %}

{% block content %}

<h1 class="tittel">Kontaktliste av Ansatte</h1>
<div class="kontakt-container">
{% for kontakt in kontaktliste %}
    <div class="kontakt-kort">
        <h3 class="rett">{{ kontakt.navn }}</h3>
        <p class="rett">{{ kontakt.stilling }}</p>
        <p class="allergener"><strong>Telefon:</strong> {{ kontakt.tlf }}</p>
        <img src="{{ url_for('static', filename='img/' ~ kontakt.bilde) }}" class="kontakt-bilde">
        
    </div>
{% endfor %}
</div>

{% endblock %}
