{% extends 'base.html' %}

{% block title %}Kantine Meny{% endblock %}

{% block content %}
<h1 class="tittel">Ukens Meny</h1>
<div class="meny-container">
{% for meny in menyliste %}
    {# Legger til klassen 'dagens-rett' hvis loop-indeksen matcher dagens indeks #}
    <div class="meny-kort {% if loop.index0 == today %}dagens-rett{% endif %}">
        <h3>{{ meny.dag }}</h3>
        <p class="rett">{{ meny.rett }}</p>
        <p class="allergener"><strong>Allergener:</strong> {{ meny.allergener }}</p>
        <p><strong>Pris:</strong> {{ meny.pris }}</p>
        <img src="{{ url_for('static', filename='img/' ~ meny.bilde) }}" class="bildealt">
        
    </div>
{% endfor %}
</div>
{% endblock %}
